---
---

@import "main";

@media (min-width: 250px) {
  #title-large {
    display: block;
  }

  #title-overlay {
    display: none;
  }

  .carousel1 .carousel-item {
    height: 300px;
  }

  .carousel-item1 img {
      position: absolute;
      object-fit: contain;
      top: 0;
      left: 0;
      min-height: 300px;
  }
  
  .caption {
    font-size: 7pt;
  }

  #content {
    font-size: 0.85rem;
    padding: 5% 20px;
  }

  .theme-content {
    font-size: 3rem;
  }

  .section-head {
    font-size: 2rem;
  }

  #prabhupada-image {
    display: none !important;
  }

  #event-desc {
      font-size: 1rem;
  }

  .event-carousel-image {
      max-height: 25vh;
  }
}

@media (min-width: 992px) {
  #title-overlay {
    font-size: 17px; 
    padding-bottom: 10px;
    top: 40px;
    margin-left: 300px;
    margin-right: 300px;
  }

  #title-large {
    display: none;
  }

  #title-overlay {
    display: block;
  }

  .carousel1 .carousel-item {
    height: 600px;
  }

  .carousel-item1 img {
      position: absolute;
      top: 10px;
      object-fit: contain;
      left: 0;
      min-height: 600px;
  }

  .caption {
    margin: 0 10% !important; 
    font-size: 1rem;
  }

  #content {
    font-size: 1.4rem;
    padding: 5% 50px;
  }

  .theme-content {
    font-size: 4rem;
  }

  #prabhupada-image {
    display: block !important;  
  }

  #daily-quote {
    margin-right: 100px !important;
  }

  .section-head {
    font-size: 3rem;
  }

  #event-desc {
      font-size: 1.2rem;
  }

  .event-carousel-image {
      max-height: 53vh;
  }
}
