---
layout: default
---


<header class="text-center">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="{% if page.location == 'home' %} # {% else %} https://byciitp.github.io {% endif %}">BVC</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href = "{% if page.location == 'home' %} # {% else %} https://byciitp.github.io {% endif %} ">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Resources
	        </a>
	        <div class="dropdown-menu" style="text-align: center;" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="../audio">Audios</a>
	          <a class="dropdown-item" href="../books">Books</a>
	          <!-- <a class="dropdown-item" href="https://byciitp.github.io/ppts">Presentations</a> -->
	          <!-- <div class="dropdown-divider"></div> -->
	          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link text-primary font-weight-bold" href="../register">Sravanam</a>
	      </li>
	    </ul>

      	<div style="text-align: center;">
      		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
      				<a class="nav-link active-link" href="../meet"><img style="width: 30px; height: 30px;" src="https://i.imgur.com/TReQ58H.png"> Meet</a>
      			</li>
	      		<li class="nav-item active">
			      	<audio controls id="audio_player" style="display: none;" src="">
						Can't play audio.
					</audio>
	      		</li>
      		</ul>
      	</div>
	  </div>
	</nav>

	<div style="margin-top: 90px; margin-bottom: 30px;">
		<h1 style="" class="display-4" >Bhaktivedanta Club IIT Patna</h1>
		<p class="text-muted font-italic">Service To Humanity, Spirituality and Character</p>
	</div>
</header>

{{ content }}

<footer style="margin-top: 50px;background: #37474F">
	<div class="footer-content">
		<div class="row p-3">
			<div class="col-lg-6">
				<img class="rounded-circle mx-auto d-block" width="40%" src="../assets/images/hhgkgm.jpeg">
				<p style="font-size: 1rem">HH Gopal Krishna Goswami Maharaj</p>
			</div>
			<div class="col-lg-6">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
			</div>
			<div class="col-lg-6">
				<img width="30%" class="rounded-circle mx-auto d-block" src="../assets/images/hglpd.jpeg">
				<p style="font-size: 1rem">HG Lila Purushottam Prabhu</p>
			</div>
		</div>

		<div class="row p-3">
			<div class="col-lg-6 col-md-6 col-sm-6 col-6">
				<img class="rounded-circle mx-auto d-block" width="25%" src="../assets/images/hgrmp.jpg">
				<p style="font-size: 1rem">HG Raman Manohar Prabhu</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-6">
				<img class="rounded-circle mx-auto d-block" width="25%" src="../assets/images/hgsrp.jpg">
				<p style="font-size: 1rem">HG Sadhu Raman Prabhu</p>
			</div>
		</div>
	</div>
	<div class="my_icon"> 
            <a target="_blank" rel="noopener noreferrer" class="icon" title="Youtube" href="https://youtube.com/Bhaktivedantaclubiitpatna">
                <i class="fab fa-youtube"></i>
            </a>
            
            <a target="_blank" rel="noopener noreferrer" class="icon" title="Facebook" href="https://www.facebook.com/BVCIITPatna">
                <i class="fab fa-facebook"></i>
            </a>

        </div>
</footer>

<script type="text/javascript" src="../assets/js/footer.js"></script>

